<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.hello"
        version="0.7.0">

  <name>Hello</name>


  <asset src="www/hello.js" target="js/hello.js"/>

  <js-module src="www/hello.js" name="hello">
    <clobbers target="hello" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Hello">
        <param name="android-package" value="com.example.plugin.Hello"/>
      </feature>
    </config-file>
          
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:screenOrientation="portrait" android:label="@string/app_name" android:name=".GameActivity"></activity>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/Hello.java" target-dir="src/com/example/plugin" />
        <source-file src="src/android/GameActivity.java" target-dir="src/com/example/plugin" />
        <source-file src="src/android/FlappySurfaceView.java" target-dir="src/com/example/plugin" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/example/plugin" />
        <source-file src="src/android/activity_new.xml" target-dir="res/layout"/>
  </platform>

</plugin>
